---
galaxy_info:
  role_name: "{{ role }}"
  author: "{{ author }}"
  namespace: "{{ galaxy_namespace }}"
  description: '{{ role_description }}'
  license: BSD-3
  min_ansible_version: 2.9
  platforms:
    - name: EL
      versions:
        - 7
        - 8
    - name: Debian
      versions:
        - buster
        - bullseye
    - name: Win32NT
      versions:
        - 6
        - 7
        - 8

dependencies: []
